
.chart {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.chart > * {
  padding: 5px;
  flex: 1 25%;
}





@media all and (min-width: 800px) {
  .related { order: 3; } 
  .songs    { order: 1; }
  .achievements { order: 2; }
}

body {
  padding: 2em; 
}